body {
    margin: 1em;
    font-family: Helvetica, serif;
    color: #333;
}

#main {
    width: 90%;
    margin: 5em auto;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-variant: all-small-caps;
    margin: 0.1em 1em 0 0;
}

h4,
h5,
h6 {
    display: inline-flex;
    margin: 0;
}

.report {
    width: 90%;
    margin: 5em auto;
}

section[data-num-courses-incomplete="0"].student {
    display: none;
}

.course {
    margin: 1em;
    padding: 1em;
}

section[data-num-assignments="0"].course {
    display: none;
}

section[data-num-assignments-incomplete="0"].course {
    display: none;
}

.assignment {
    padding: 0.25em 1em;
    background: #efe;
    border-top: 1px dotted #666;
}

.assignment.complete,
.assignment.future,
.assignment.past {
    display: none;
}

section.assignment.current {
    display: block;
}

section.assignment.due {
    display: block;
    background: #fff;
}

section.assignment.overdue {
    display: block;
    background: #fdd;
}

dl dt {
    display: inline-flex;
    color: #999;
    font-variant: all-small-caps;
}

dl dd {
    display: inline-flex;
    margin: 0 1em 0 0;
}

.overdue dl dt:first-child+dd {
    color: #f33;
}

.timestamp {
    color: #ddd;
    font-variant: all-small-caps;
    width: 90%;
    margin: 5em auto;
}
