:root {
    --main-bg-color: #ffffff;
    --main-fg-color: #333333;
    --main-label-color: #000000;
    --assignment-ok-background: #99ff9911;
    --assignment-complete-background: #99ff99;
    --assignment-due-background: #ff333333;
    --assignment-due-color: #330000;
    --assignment-due-label: #660000;
    --assignment-overdue-background: #ff333399;
    --assignment-overdue-color: #ff3333;
    --assignment-overdue-label: #ff0000;
    --assignment-border-color: #666666;
    --status-label-color: #666666;
    --definition-label-color: #999999;
    --deemphasized-label-color: #dddddd;
}

body {
    margin: 1em;
    font-family: Helvetica, sans-serif;
    font-size: larger;
    color: var(--main-fg-color);
    background: var(--main-bg-color);
}

#main {
    width: 90%;
    margin: 5em auto;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-variant: all-small-caps;
    margin: 0.1em 1em 0 0;
}

h4,
h5,
h6 {
    display: inline-flex;
    margin: 0;
}

.report {
    width: 90%;
    margin: 5em auto;
}

section[data-num-courses-incomplete="0"].student {
    display: none;
}

.course {
    margin: 1em;
    padding: 1em;
}

section[data-num-assignments="0"].course {
    display: none;
}

section[data-num-assignments-incomplete="0"].course {
    display: none;
}

.assignment {
    padding: 0.25em 1em;
    background: var(--assignment-ok-background);
    border-top: var(--assignment-border-color);
}

.assignment.complete,
.assignment.future,
.assignment.past {
    display: none;
}

section.assignment.current {
    display: block;
}

section.assignment.complete {
    background: var(--assignment-complete-background);
}

section.assignment.due {
    display: block;
    background: var(--assignment-due-background);
}

section.assignment.overdue {
    display: block;
    background: var(--assignment-overdue-background);
}

section.assignment.overdue::after {
    color: var(--assignment-overdue-label);
    content: "* OVERDUE *";
    font-variant: all-small-caps;
}

dl dt {
    display: inline-flex;
    color: var(--definition-label-color);
    font-variant: all-small-caps;
}

dl dd {
    display: inline-flex;
    margin: 0 1em 0 0;
    font-size: small;
}

.due dl dt:first-child+dd {
    color: var(--assignment-due-label);
}

p.due {
    display: inline-block;
    color: var(--assignment-due-color);
    font-variant: all-small-caps;
}

.overdue dl dt:first-child+dd {
    color: var(--assignment-overdue-label);
}

p.overdue {
    display: inline-block;
    color: var(--assignment-overdue-color);
    font-variant: all-small-caps;
}

.timestamp {
    color: var(--deemphasized-label-color);
    font-variant: all-small-caps;
    width: 90%;
    margin: 5em auto;
}

.unit {
    font-weight: bold;
}

.title {
    color: var(--main-label-color);
}

.type {
    text-decoration: underline;
}

.status {
    color: var(--status-label-color);
    font-size: small;
}

.details {
    margin: 0.2em 0 0.5em;
}
